In [0]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.preprocessing.text import Tokenizer as Token
from tensorflow.keras.preprocessing.sequence import pad_sequences as ps
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, GlobalMaxPooling1D
from tensorflow.keras.layers import LSTM, Embedding
from sklearn.model_selection import train_test_split
import pandas as pd

In [0]:
data = pd.read_csv('spam.csv', encoding = 'ISO-8859-1')

In [42]:
data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [0]:
data = data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis = 1)
data.columns = ['labels', 'data']

In [44]:
data.head()

  labels                                               data
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [0]:
data['b_labels'] = data['labels'].map({'ham': 0, 'spam': 1})
Y = data['b_labels'].values

In [46]:
data.head()

  labels                                               data  b_labels
0    ham  Go until jurong point, crazy.. Available only ...         0
1    ham                      Ok lar... Joking wif u oni...         0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...         1
3    ham  U dun say so early hor... U c already then say...         0
4    ham  Nah I don't think he goes to usf, he lives aro...         0

In [0]:
x_train, x_test, y_train, y_test = train_test_split(data['data'], Y, test_size = 0.3)

In [0]:
max_words = 20000
token = Token(num_words = max_words)
token.fit_on_texts(x_train)
s_train = token.texts_to_sequences(x_train)
s_test = token.texts_to_sequences(x_test)

In [49]:
index = token.word_index
len(index)

7398

In [0]:
data_train = ps(s_train)
T = data_train.shape[1]

In [0]:
data_test = ps(s_test, maxlen = T)

In [0]:
D = 20

M = 15

V = len(index)

i = Input(shape=(T,))
x = Embedding(V + 1, D)(i)
x = LSTM(M, return_sequences=True)(x)
x = GlobalMaxPooling1D()(x)
x = Dense(1, activation='sigmoid')(x)

model = Model(i, x)

In [0]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', 
              metrics = ['accuracy'])

r = model.fit(data_train, y_train, epochs = 20, validation = (data_test, y_test))

Epoch 1/20
122/122 [==============================] - 7s 57ms/step - loss: 0.4533 - accuracy: 0.8656
Epoch 2/20
122/122 [==============================] - 7s 57ms/step - loss: 0.3848 - accuracy: 0.8682
Epoch 3/20
122/122 [==============================] - 7s 57ms/step - loss: 0.3404 - accuracy: 0.8682
Epoch 4/20
122/122 [==============================] - 7s 57ms/step - loss: 0.2204 - accuracy: 0.8708
Epoch 5/20
122/122 [==============================] - 7s 57ms/step - loss: 0.1388 - accuracy: 0.9774
Epoch 6/20
122/122 [==============================] - 7s 57ms/step - loss: 0.0814 - accuracy: 0.9897
Epoch 7/20
122/122 [==============================] - 7s 57ms/step - loss: 0.0522 - accuracy: 0.9921
Epoch 8/20
122/122 [==============================] - 7s 58ms/step - loss: 0.0364 - accuracy: 0.9949
Epoch 9/20
122/122 [==============================] - 7s 58ms/step - loss: 0.0271 - accuracy: 0.9967
Epoch 10/20
122/122 [==============================] - 7s 57ms/step - loss: 0.0211 - accuracy: 0.9972
Epoch 11/20
122/122 [==============================] - 7s 58ms/step - loss: 0.0170 - accuracy: 0.9985
Epoch 12/20
 78/122 [==================>...........] - ETA: 2s - loss: 0.0140 - accuracy: 0.9988