In [1]:
import numpy as np
import pandas as pd

Series in Pandas

In [2]:
a = ['a', 'b', 'c']
b = [20, 30, 40]
c = {
    'a': 20,
    'b': 30,
    'c': 40,
}

In [3]:
print(pd.Series(b)) # by default the index is numeric

0    20
1    30
2    40
dtype: int64

In [4]:
print(pd.Series(b, a)) # index can be changed py passing it as the second argument

a    20
b    30
c    40
dtype: int64

In [5]:
print(pd.Series(c)) # dictionaries are displayed in a clean way if Series is used

a    20
b    30
c    40
dtype: int64

In [6]:
print(pd.Series([print, input, len])) # series can also hold built in functions

0                            <built-in function print>
1    <bound method Kernel.raw_input of <ipykernel.i...
2                              <built-in function len>
dtype: object

Data Frames

In [7]:
np.random.seed(101)

In [8]:
a = pd.DataFrame(np.random.randn(5, 4), ['a', 'b', 'c', 'd', 'e'], ['u', 'w', 'x', 'y'])
# data frames are like series but with multiple columns
a

          u         w         x         y
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [9]:
a['u'] # this grabs the column u

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: u, dtype: float64

In [10]:
a.loc['d'] # this grabs the row d

u    0.188695
w   -0.758872
x   -0.933237
y    0.955057
Name: d, dtype: float64

In [11]:
a.iloc[3] # this grabs the row at index 3

u    0.188695
w   -0.758872
x   -0.933237
y    0.955057
Name: d, dtype: float64

In [12]:
a['z'] = a['w'] + a['x'] # adding a new column

In [13]:
a

          u         w         x         y         z
a  2.706850  0.628133  0.907969  0.503826  1.536102
b  0.651118 -0.319318 -0.848077  0.605965 -1.167395
c -2.018168  0.740122  0.528813 -0.589001  1.268936
d  0.188695 -0.758872 -0.933237  0.955057 -1.692109
e  0.190794  1.978757  2.605967  0.683509  4.584725

In [14]:
a.drop('z', axis = 1, inplace = False) # 1 is for columns 0/default is for rows

          u         w         x         y
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [15]:
a.drop('e', axis = 0, inplace = False)

          u         w         x         y         z
a  2.706850  0.628133  0.907969  0.503826  1.536102
b  0.651118 -0.319318 -0.848077  0.605965 -1.167395
c -2.018168  0.740122  0.528813 -0.589001  1.268936
d  0.188695 -0.758872 -0.933237  0.955057 -1.692109

In [16]:
a # since inplace is false/default the data isn't permanently removed

          u         w         x         y         z
a  2.706850  0.628133  0.907969  0.503826  1.536102
b  0.651118 -0.319318 -0.848077  0.605965 -1.167395
c -2.018168  0.740122  0.528813 -0.589001  1.268936
d  0.188695 -0.758872 -0.933237  0.955057 -1.692109
e  0.190794  1.978757  2.605967  0.683509  4.584725

In [17]:
# to grab a certain value
a.loc['b', 'w'] # row, column

-0.31931804459303326

In [18]:
# selecting multiple rows and column
a.loc[['c', 'd'], ['u', 'x']]

          u         x
c -2.018168  0.528813
d  0.188695 -0.933237

Logical and arithmetic operations using the values in a series

In [19]:
b = a > 0 # compares each value with the condition
b

       u      w      x      y      z
a   True   True   True   True   True
b   True  False  False   True  False
c  False   True   True  False   True
d   True  False  False   True  False
e   True   True   True   True   True

In [20]:
c = a * 2 # multiplies all of the values
c

          u         w         x         y         z
a  5.413700  1.256265  1.815939  1.007652  3.072204
b  1.302236 -0.638636 -1.696154  1.211931 -2.334790
c -4.036336  1.480244  1.057627 -1.178001  2.537871
d  0.377391 -1.517744 -1.866474  1.910113 -3.384219
e  0.381589  3.957515  5.211935  1.367018  9.169449

In [21]:
d = a / 2 # divides
d

          u         w         x         y         z
a  1.353425  0.314066  0.453985  0.251913  0.768051
b  0.325559 -0.159659 -0.424038  0.302983 -0.583698
c -1.009084  0.370061  0.264407 -0.294500  0.634468
d  0.094348 -0.379436 -0.466619  0.477528 -0.846055
e  0.095397  0.989379  1.302984  0.341754  2.292362